<section class="testimonial-section pt-130 pb-130 fade-wrapper">
    <div class="container">
        <div class="section-heading heading-3 text-center">
            <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Opiniones</h4>
            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Comentarios de Nuestros Clientes</h2>
        </div>
        <div class="row gy-lg-0 gy-4 testi-wrap justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="testi-item item-3 text-center fade-top">
                    <div class="testi-thumb">
                        <img src="/assets/img/testi/testi-author-1.png" alt="imagen">
                    </div>
                    <div class="testi-content">
                        <h3 class="author">Juan Pérez <span>Gerente Industrial</span></h3>
                        <p>"Pevite transformó nuestra planta con su automatización avanzada. El soporte fue excepcional y los resultados superaron nuestras expectativas."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testi-item item-3 text-center fade-top">
                    <div class="testi-thumb">
                        <img src="/assets/img/testi/testi-author-3.png" alt="imagen">
                    </div>
                    <div class="testi-content">
                        <h3 class="author">María Gómez <span>Directora de TI</span></h3>
                        <p>"Las soluciones IoT de Pevite optimizaron nuestra red de dispositivos. Su equipo es profesional y altamente innovador."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testi-item item-3 mb-0 text-center fade-top">
                    <div class="testi-thumb">
                        <img src="/assets/img/testi/testi-author-2.png" alt="imagen">
                    </div>
                    <div class="testi-content">
                        <h3 class="author">Carlos Rodríguez <span>CEO de Manufactura</span></h3>
                        <p>"El hardware y software de Pevite mejoraron nuestra producción. Su enfoque personalizado marcó la diferencia."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>