<section class="about-section-5 pt-130 pb-130">
    <div class="container">
        <div class="row gy-lg-0 gy-4">
            <div class="col-lg-6">
                <div class="about-content-5">
                    <div class="section-heading">
                        <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">Acerca de Pevite</h4>
                        <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Innovamos para Transformar Industrias a Nivel Local y Global</h2>
                    </div>
                    <div class="about-tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Nuestra Misión</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Nuestra Visión</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Nuestros Objetivos</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <h3 class="title">Soluciones Tecnológicas Integrales</h3>
                                <p class="mb-20">En Pevite, nuestra misión es desarrollar software, aplicaciones web y soluciones IoT que optimicen procesos industriales y conecten el futuro, ofreciendo tecnología innovadora para empresas locales y globales.</p>
                                <p class="mb-0">Nos apasiona transformar ideas en realidades digitales que impulsen la eficiencia y la competitividad de nuestros clientes.</p>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <h3 class="title">Líderes en Innovación Digital</h3>
                                <p class="mb-20">Nuestra visión en Pevite es ser líderes globales en automatización industrial y tecnología IoT, creando hardware y software que definan los estándares de la industria 4.0 y promuevan un futuro conectado.</p>
                                <p class="mb-0">Buscamos ser el socio tecnológico de confianza para empresas que desean innovar y crecer en un mundo digital.</p>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <h3 class="title">Crecimiento Sostenible</h3>
                                <p class="mb-20">Nuestro objetivo en Pevite es ofrecer soluciones personalizadas que satisfagan las necesidades de nuestros clientes, desde el desarrollo de software hasta la fabricación de hardware, garantizando calidad y soporte continuo.</p>
                                <p class="mb-0">Queremos construir relaciones a largo plazo con nuestros clientes, ayudándolos a alcanzar sus metas tecnológicas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img-wrap-5">
                    <div class="shapes">
                        <div class="shape shape-1"><img src="/assets/img/shapes/about-shape-4.png" alt="forma"></div>
                        <div class="shape shape-2"><img src="/assets/img/shapes/about-shape-5.png" alt="forma"></div>
                    </div>
                    <div class="about-img reveal">
                        <img class="img-1" src="/assets/img/images/about-img-8.png" alt="imagen">
                    </div>
                    <div class="about-img-2 reveal">
                        <img class="img-2" src="/assets/img/images/about-img-9.png" alt="imagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>