<div class="running-text running-3">
    <div class="bg-img" data-background="/assets/img/bg-img/running-bg.jpg"></div>
    <div class="carouselTicker carouselTicker-nav" data-speed="fast">
        <ul class="text-anim carouselTicker__list scroller__inner inner-3">
            <li>Últimos Proyectos</li>
            <li class="stroke-text">Desarrollo de Software</li>
            <li>Últimos Proyectos</li>
            <li class="stroke-text">Soluciones IoT</li>
            <li>Últimos Proyectos</li>
            <li class="stroke-text">Automatización Industrial</li>
            <li>Últimos Proyectos</li>
            <li class="stroke-text">Fabricación de Hardware</li>
        </ul>
    </div>
</div>