---

const {testimonials} = Astro.props

---

<section class="testimonial-section pt-130 pb-130 fade-wrapper">
    <div class="container">

        <div class="section-heading heading-3 text-center">
            <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Opiniones</h4>
            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Comentarios de Nuestros Clientes</h2>
        </div>

        <div class="row gy-lg-0 gy-4 testi-wrap justify-content-center">

        {
            testimonials.map((testimonial: any) => (
            <div class="col-lg-4 col-md-6">
                <div class="testi-item item-3 text-center fade-top">
                <div class="testi-thumb">
                    <img src="/assets/img/testi/testi-author-1.png" alt='imagen'/>
                </div>
                <div class="testi-content">
                    <h3 class="author">{testimonial.name} <span>Escritor</span></h3>
                    <p>{testimonial.testimonial}</p>
                </div>
                </div>
            </div>
            ))
        }

        </div>
    </div>
</section>