<div id="sidebar-area" class="sidebar-area">
    <button class="sidebar-trigger close">
        <svg
            class="sidebar-close"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="16px"
            height="12.7px"
            viewBox="0 0 16 12.7"
            style="enable-background: new 0 0 16 12.7"
            xml:space="preserve"
        >
            <g>
                <rect
                    x="0"
                    y="5.4"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.1569 7.5208)"
                    width="16"
                    height="2"
                ></rect>
                <rect
                    x="0"
                    y="5.4"
                    transform="matrix(0.7071 0.7071 -0.7071 0.7071 6.8431 -3.7929)"
                    width="16"
                    height="2"
                ></rect>
            </g>
        </svg>
    </button>
    <div class="side-menu-content">
        <div class="side-menu-logo">
            <a class="dark-img"><img src="/assets/img/logo/logo-2.png" alt="logo"></a>
            <a class="light-img"><img src="/assets/img/logo/logo-3.png" alt="logo"></a>
        </div>
        <div class="side-menu-wrap"></div>
        <div class="side-menu-about">
            <div class="side-menu-header">
                <h3>Sobre nosotros</h3>
            </div>
            <p>Somos PEVITE, líderes en innovación tecnológica. Transformamos ideas en soluciones de software, IoT, automatización industrial y hardware, impulsando el futuro digital de las industrias. ¡Conócenos y descubre cómo llevamos tu visión a la realidad!</p>
            <a href="/contacto" class="rr-primary-btn">Contáctenos</a>
        </div>
        <div class="side-menu-contact">
            <div class="side-menu-header">
                <a>Contáctenos</a>
            </div>
            <ul class="side-menu-list">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Maracay, Edo. Aragua, Venezuela</p>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+58 412-0936057">+58 412-0936057</a>
                </li>
                <li>
                    <i class="fas fa-envelope-open-text"></i>
                    <a>contacto@pevite.com.ve</a>
                </li>
            </ul>
        </div>
        <ul class="side-menu-social">
            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="g-plus"><a href="#"><i class="fab fa-fab fa-google-plus"></i></a></li>
        </ul>
    </div>
</div>