<section class="cart-section pt-130 pb-130">
    <div class="container">
        <div class="table-content cart-table">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th class="product-remove"></th>
                        <th class="cart-product-name text-center">Productos</th>
                        <th class="product-price"> Precio</th>
                        <th class="product-quantity">Cantidad</th>
                        <th class="product-subtotal">Total precio</th>
                    </tr>
                </thead>
<!--                 <tbody>
                    <tr>
                        <td class="product-remove"><button><i class="fa-sharp fa-regular fa-xmark"></i></button></td>
                        <td class="product-thumbnail">
                            <a href="shop-details.html">
                                <img src="/assets/img/shop/cart-img-1.png" alt="img">
                            </a>
                            <div class="product-thumbnail">
                                <span class="category">Headphone</span>
                                <h4 class="title">Power Guard Fortress</h4>
                            </div>
                        </td>
                        <td class="product-price"><span class="amount">$550.00</span></td>
                        <td class="product-quantity">
                            <div class="quantity__group">
                                <input type="number" class="input-text qty text" name="quantity" value="1" min="1" max="100" step="1" autocomplete="off">
                            </div>
                        </td>
                        <td class="product-subtotal"><span class="amount">$230.50</span></td>
                    </tr>
                    <tr>
                        <td class="product-remove"><button><i class="fa-sharp fa-regular fa-xmark"></i></button></td>
                        <td class="product-thumbnail">
                            <a href="shop-details.html">
                                <img src="/assets/img/shop/cart-img-2.png" alt="img">
                            </a>
                            <div class="product-thumbnail">
                                <span class="category">Ups System</span>
                                <h4 class="title">Quantum Sound Enigma</h4>
                            </div>
                        </td>
                        <td class="product-price"><span class="amount">$550.00</span></td>
                        <td class="product-quantity">
                            <div class="quantity__group">
                                <input type="number" class="input-text qty text" name="quantity" value="1" min="1" max="100" step="1" autocomplete="off">
                            </div>
                        </td>
                        <td class="product-subtotal"><span class="amount">$230.50</span></td>
                    </tr>
                </tbody> -->
            
            </table>
            <br>
            <br>
            <h3 style="text-align: center;">NO HAY PRODUCTOS EN EL CARRITO</h3>
            <br>
            <br>
        </div>
        <div class="cart-btn-wrap">
            <div class="left-item">
                <input type="text" class="form-control" placeholder="Código de cupón">
                <button class="rr-primary-btn">Aplicar cupón</button>
            </div>
            <!-- <button class="rr-primary-btn update-btn">Update Cart</button> -->
        </div>
    </div>
</section>