---
import Image from "astro/components/Image.astro"
---
<section class="page-header" data-background="/assets/img/bg-img/page-header-bg-tienda.jpg">
    <div class="overlay"></div>
    <div class="shapes">
        <div class="shape shape-1"><Image loading="eager" width={630} height={541} src="/assets/img/shapes/page-header-shape-1.png" alt="shape"></div>
        <div class="shape shape-2"><Image loading="eager" width={240} height={378} src="/assets/img/shapes/page-header-shape-2.png" alt="shape"></div>
        <div class="shape shape-3"><Image loading="eager" width={767} height={541} src="/assets/img/shapes/page-header-shape-3.png" alt="shape"></div>
    </div>
    <div class="container">
        <div class="page-header-content text-center">
            <h1 class="title">Nuestros Productos</h1>
            <h4 class="sub-title"><a class="home" href="/">Inicio </a><span></span><div style="display: inline-block;" class="inner-page" > Tienda</div></h4>
        </div>
    </div>
</section>