---
import PageHeader from "../../components/paginas/cotizacion/page-header.astro";
import PricingSection from "../../components/paginas/cotizacion/pricing-section.astro";
import RunningText from "../../components/paginas/cotizacion/running-text.astro";
import TestimonialSection from "../../components/paginas/cotizacion/testimonial-section.astro";
import Footer from "../../components/shared/footer.astro";
import HeaderTwo from "../../components/shared/headerTwo.astro";
import Preloader from "../../components/shared/preloader.astro";
import SidebarArea from "../../components/shared/sidebar-area.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cotización">
    <!-- header-area-start -->
    <HeaderTwo></HeaderOne>
        <!-- /.Main Header -->
    
    <div id="popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
            </form>
            <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
        </div>
    </div>
    <!-- /#popup-search-box -->

    <SidebarArea></SidebarArea>
    <!--/.sidebar-area-->

    <Preloader></Preloader>
    <!-- ./ preloader -->

    <div id="smooth-wrapper">
        <div id="smooth-content">

        <PageHeader></PageHeader>
        <!-- ./ page-header -->

        <PricingSection></PricingSection>
        <!-- ./ pricing-section -->

        <RunningText></RunningText>
        <!-- ./ running-text -->

        <TestimonialSection></TestimonialSection>
        <!-- ./ testimonial-section -->

        <Footer></Footer>
        <!-- ./ footer-section -->

        </div>
    </div>
</Layout>