---
import Layout from '../../layouts/Layout.astro';
import Preloader from '../../components/shared/preloader.astro';
import SidebarArea from "../../components/shared/sidebar-area.astro"
import Footer from '../../components/shared/footer.astro';
import HeaderTwo from '../../components/shared/headerTwo.astro';
import TestimonialSection from '../../components/paginas/sobre-nosotros/testimonial-section.astro';
import TeamSection from '../../components/paginas/sobre-nosotros/team-section.astro';
import AboutSection from '../../components/paginas/sobre-nosotros/about-section.astro'
import RunningText from '../../components/paginas/sobre-nosotros/running-text.astro'
import CounterSection from '../../components/paginas/sobre-nosotros/counter-section.astro'
import ProcessSection from '../../components/paginas/sobre-nosotros/process-section.astro'
import AboutSectionOne from '../../components/paginas/sobre-nosotros/about-section-one.astro'
import PageHeader from '../../components/paginas/sobre-nosotros/page-header.astro';
import axios, { AxiosError } from 'axios';


let testimonials;
let equipo
let mensaje
try {
  const responseTestimonial = await axios.get('https://backend.pevite.com.ve/admin/testimonial');
  const responseEquipo = await axios.get('https://backend.pevite.com.ve/admin/equipo');

  testimonials = responseTestimonial.data;
  equipo = responseEquipo.data;
  
} catch (error) {
  

  if (error instanceof AxiosError) {

    if (error.code === 'ECONNREFUSED' || error.message.includes('connect ECONNREFUSED')) {
        mensaje = {
            messages: "No se pudo conectar con el servidor. Por favor, intenta de nuevo más tarde." 
        }
    } 

  }

  testimonials = []; 
}

---

<Layout title="Sobre nosotros">
    <!-- header-area-start -->
    <HeaderTwo></HeaderOne>
    <!-- /.Main Header -->

    <div id="popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
            </form>
            <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
        </div>
    </div>
    <!-- /#popup-search-box -->

    <SidebarArea></SidebarArea>
    <!--/.sidebar-area-->

    <Preloader></Preloader>
    <!-- ./ preloader -->

    <div id="smooth-wrapper">
        <div id="smooth-content">

        <PageHeader></PageHeader>
        <!-- ./ page-header -->

        <AboutSectionOne></AboutSectionOne>
        <!-- ./ about-section -->

        <ProcessSection></ProcessSection>
        <!-- ./ process-section-2 -->

        <CounterSection></CounterSection>
        <!-- ./ counter-section -->

        <RunningText></RunningText>
        <!-- ./ running-text -->

        <AboutSection></AboutSection>
        <!-- ./ about-section -->

        {testimonials.length > 0 && true == true ? (
            <div>
                <TeamSection equipo={equipo}></TeamSection>
               {/*  <!-- ./ team-section --> */}

                <TestimonialSection testimonials={testimonials}></TestimonialSection>
                {/* <!-- ./ testimonial-section --> */}
            </div>
            ) : (
            <div class="errorPeticio-one"></div>
        )}



        <Footer></Footer>
        <!-- ./ footer-section -->

        </div>
    </div>
</Layout>