<section class="pricing-section pt-130 pb-130">
    <div class="container">
        <div class="section-heading heading-3 text-center">
            <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Nuestros Planes de Precios</h4>
            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Nuestros Precios Flexibles</h2>
        </div>
        <div class="pricing-tab wow fade-in-bottom" data-wow-delay="500ms">
            <nav class="nav-wrap">
                <div class="nav nav-tabs mb-50" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Facturación Anual <span>30%</span></button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Facturación Mensual</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row gy-lg-0 gy-4 justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-item">
                                <h4 class="plan">Plan Básico</h4>
                                <h2 class="price">$39</h2>
                                <span>Características básicas para hasta 10 usuarios</span>
                                <div class="pricing-btn-wrap">
                                    <a class="rr-primary-btn pricing-btn">Contáctanos <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                    <a  class="rr-primary-btn pricing-btn">Ver Detalles <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                                <h3 class="feature">Características:</h3>
                                <p>Todo lo incluido en nuestro plan gratuito está en todos los paquetes premium.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-item">
                                <h4 class="plan">Plan Estándar</h4>
                                <h2 class="price">$49</h2>
                                <span>Características básicas para hasta 10 usuarios</span>
                                <div class="pricing-btn-wrap">
                                    <a class="rr-primary-btn pricing-btn">Contáctanos <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                    <a  class="rr-primary-btn pricing-btn">Ver Detalles <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                                <h3 class="feature">Características:</h3>
                                <p>Todo lo incluido en nuestro plan gratuito está en todos los paquetes premium.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-item">
                                <h4 class="plan">Plan Premium</h4>
                                <h2 class="price">$59</h2>
                                <span>Características básicas para hasta 10 usuarios</span>
                                <div class="pricing-btn-wrap">
                                    <a class="rr-primary-btn pricing-btn">Contáctanos <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                    <a class="rr-primary-btn pricing-btn">Ver Detalles <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                                <h3 class="feature">Características:</h3>
                                <p>Todo lo incluido en nuestro plan gratuito está en todos los paquetes premium.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row gy-lg-0 gy-4 justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-item">
                                <h4 class="plan">Plan Básico</h4>
                                <h2 class="price">$69</h2>
                                <span>Características básicas para hasta 10 usuarios</span>
                                <div class="pricing-btn-wrap">
                                    <a  class="rr-primary-btn pricing-btn">Contáctanos <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                    <a class="rr-primary-btn pricing-btn">Ver Detalles <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                                <h3 class="feature">Características:</h3>
                                <p>Todo lo incluido en nuestro plan gratuito está en todos los paquetes premium.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-item">
                                <h4 class="plan">Plan Estándar</h4>
                                <h2 class="price">$79</h2>
                                <span>Características básicas para hasta 10 usuarios</span>
                                <div class="pricing-btn-wrap">
                                    <a  class="rr-primary-btn pricing-btn">Contáctanos <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                    <a class="rr-primary-btn pricing-btn">Ver Detalles <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                                <h3 class="feature">Características:</h3>
                                <p>Todo lo incluido en nuestro plan gratuito está en todos los paquetes premium.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-item">
                                <h4 class="plan">Plan Premium</h4>
                                <h2 class="price">$99</h2>
                                <span>Características básicas para hasta 10 usuarios</span>
                                <div class="pricing-btn-wrap">
                                    <a  class="rr-primary-btn pricing-btn">Contáctanos <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                    <a  class="rr-primary-btn pricing-btn">Ver Detalles <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                                <h3 class="feature">Características:</h3>
                                <p>Todo lo incluido en nuestro plan gratuito está en todos los paquetes premium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>