---
import Servicio from './components/servicio.astro';
import axios, { AxiosError } from 'axios';

export interface Service {
    id:          number;
    title:       string;
    description: string;
    image:       string;
    icon:        string;
    details:     Details;
}

export interface Details {
    overview: string;
    features: string[];
    benefits: string[];
}

let servicios: Service[];
let mensaje
try {
  const response = await axios.get('https://backend.pevite.com.ve/admin/servicios');
  servicios = response.data;
  
} catch (error) {
  

  if (error instanceof AxiosError) {

    if (error.code === 'ECONNREFUSED' || error.message.includes('connect ECONNREFUSED')) {
        mensaje = {
            messages: "No se pudo conectar con el servidor. Por favor, intenta de nuevo más tarde." 
        }
    } 

  }

  servicios = []; 
}

---


<section class="service-section pt-130 pb-130">
    <div class="container">
        <div class="row gy-5">

            {servicios.length > 0 ? (
                servicios.map((servicio: Service) => (

                    <Servicio
                        servicio={servicio}
                    />
                ))
                ) : (
                <div class="errorPeticio-one">No se encontraron servicios.</div>
            )}

        </div>
    </div>
</section>
