---
import Layout from '../layouts/Layout.astro';
import Preloader from '../components/shared/preloader.astro';
import HeaderOne from "../components/shared/headerOne.astro"
import SidebarArea from "../components/shared/sidebar-area.astro"
import Footer from '../components/shared/footer.astro';
import ProcessSection from '../components/index/process-section.astro';
import AboutSection from '../components/index/about-section.astro';
import ServiceSection from '../components/index/service-section.astro';
import FaqSection from '../components/index/faq-section.astro';
import HeroSection from '../components/index/hero-section.astro';
---

<Layout title="Inicio">

	<Preloader></Preloader>
	<!-- ./ preloader -->
	

	<HeaderOne ></HeaderOne>
	<!-- header-area-start -->

	<SidebarArea></SidebarArea>
	<!--/.sidebar-area-->


	<!-- /.Main Header -->
	<div id="smooth-wrapper">
		<div id="smooth-content">
		
		<HeroSection></HeroSection>
		<!-- ./ hero-section -->
		
		<ProcessSection></ProcessSection>
		<!-- ./ process-section -->
		
		<AboutSection></AboutSection>
		<!-- ./ about-section -->
		<ServiceSection></ServiceSection>
		<!-- ./ service-section -->
		
		<FaqSection></FaqSection>
		<!-- ./ faq-section -->
		
		<div class="running-text testi">
			<div class="carouselTicker carouselTicker-nav" data-speed="fast">
				<ul class="text-anim carouselTicker__list">
					<li>Testimonios de Clientes .</li>
					<li>Opiniones de Nuestros Clientes</li>
				</ul>
			</div>
		</div>
		<!-- ./ running-text -->
		
		<section class="testimonial-section overflow-hidden">
			<div class="container">
				<div class="testi-carousel swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testi-item text-center">
								<div class="testi-thumb">
									<img src="/assets/img/testi/testi-author-1.png" alt="Foto de Daniel Joseph">
								</div>
								<div class="testi-content">
									<h3 class="author">Daniel Joseph <span>Escritor</span></h3>
									<p>Trabajar con Innovatech Solutions fue una experiencia increíble. Su enfoque en la experiencia de usuario mejoró enormemente la narrativa de mi proyecto digital, haciendo que los contenidos sean más accesibles y atractivos.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testi-item text-center">
								<div class="testi-thumb">
									<img src="/assets/img/testi/testi-author-2.png" alt="Foto de Victoria Madison">
								</div>
								<div class="testi-content">
									<h3 class="author">Victoria Madison <span>Desarrolladora</span></h3>
									<p>Como desarrolladora, valoro la calidad del código y la tecnología de punta que Innovatech Solutions utiliza. Sus soluciones móviles personalizadas superaron mis expectativas en rendimiento y escalabilidad.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testi-item text-center">
								<div class="testi-thumb">
									<img src="/assets/img/testi/testi-author-3.png" alt="Foto de Nicholas Thomas">
								</div>
								<div class="testi-content">
									<h3 class="author">Nicholas Thomas <span>Diseñador</span></h3>
									<p>Innovatech Solutions transformó mi visión de diseño en una interfaz funcional y hermosa. Su colaboración y herramientas de diseño modernas hicieron el proceso fluido y creativo.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testi-item text-center">
								<div class="testi-thumb">
									<img src="/assets/img/testi/testi-author-5.png" alt="Foto de James Hallagher">
								</div>
								<div class="testi-content">
									<h3 class="author">James Hallagher <span>Marketer</span></h3>
									<p>Gracias a las soluciones digitales de Innovatech Solutions, mis campañas de marketing alcanzaron un nuevo nivel. La integración con móviles y UX optimizó el engagement de mi audiencia.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testi-item text-center">
								<div class="testi-thumb">
									<img src="/assets/img/testi/testi-author-6.png" alt="Foto de Amelia Harper">
								</div>
								<div class="testi-content">
									<h3 class="author">Amelia Harper <span>Propietaria</span></h3>
									<p>Como propietaria, confío plenamente en Innovatech Solutions. Sus servicios de desarrollo y diseño han impulsado el crecimiento de mi empresa con soluciones innovadoras y a tiempo.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testi-item text-center">
								<div class="testi-thumb">
									<img src="/assets/img/testi/testi-author-2.png" alt="Foto de Victoria Madison">
								</div>
								<div class="testi-content">
									<h3 class="author">Victoria Madison <span>Escritora</span></h3>
									<p>El soporte de Innovatech Solutions para proyectos de contenido digital fue excepcional. Sus herramientas de UX me ayudaron a crear historias que conectan mejor con los lectores.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<!-- ./ testimonial-section -->
		
		<section class="project-section pt-130 pb-130">
			<div class="container">
				<div class="project-top heading-space align-items-end fade-wrapper">
					<div class="section-heading mb-0">
						<h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">Mostrador de Proyectos</h4>
						<h2 class="section-title" data-text-animation data-split="word" data-duration="1">Exploremos Nuestra Galería de <br> Proyectos Recientes</h2>
					</div>
					<div class="project-top-btn fade-top">
						<a class="rr-primary-btn">Ver Más Proyectos<i class="fa-regular fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="project-accordion fade-wrapper">
					<div class="accordion" id="projectAccordion">
						<div class="accordion-item project-item fade-top">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<span class="project-content">
										<span class="number">01</span>
										<span class="project-right">
											<span class="category">Diseño UI/UX</span>
											<span class="title">Solución de Marketing para Marca</span>
										</span>
									</span>
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#projectAccordion">
								<div class="accordion-body">
									<div class="hover-content">
										<div class="content-left">
											<p>En Innovatech Solutions diseñamos una solución de UI/UX personalizada que optimizó la experiencia del usuario para una campaña de marketing, incrementando la interacción en un 40%. Utilizamos Figma para crear interfaces intuitivas y atractivas.</p>
											<a  class="rr-primary-btn">Ver Detalles<i class="fa-regular fa-arrow-right"></i></a>
										</div>
										<div class="content-right">
											<div class="project-thumb">
												<img src="/assets/img/project/project-1.png" alt="Imagen del proyecto de diseño UI/UX">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item project-item fade-top">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<span class="project-content">
										<span class="number">02</span>
										<span class="project-right">
											<span class="category">Marketing Digital</span>
											<span class="title">Diseño de Tablero Móvil SaaS</span>
										</span>
									</span>
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#projectAccordion">
								<div class="accordion-body">
									<div class="hover-content">
										<div class="content-left">
											<p>Desarrollamos un tablero móvil SaaS para una empresa de marketing digital con Innovatech Solutions, integrando soluciones en la nube con AWS y mejorando la gestión de datos en tiempo real para sus clientes.</p>
											<a  class="rr-primary-btn">Ver Detalles<i class="fa-regular fa-arrow-right"></i></a>
										</div>
										<div class="content-right">
											<div class="project-thumb">
												<img src="/assets/img/project/project-1.png" alt="Imagen del proyecto de tablero móvil SaaS">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item project-item fade-top">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="project-content">
										<span class="number">03</span>
										<span class="project-right">
											<span class="category">Diseño de Aplicaciones</span>
											<span class="title">Diseño y Desarrollo de Aplicación</span>
										</span>
									</span>
								</button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#projectAccordion">
								<div class="accordion-body">
									<div class="hover-content">
										<div class="content-left">
											<p>Con Innovatech Solutions creamos una aplicación móvil completa, desde el diseño en Flutter hasta el desarrollo, optimizando la experiencia de usuario y lanzándola con éxito en menos de tres meses.</p>
											<a  class="rr-primary-btn">Ver Detalles<i class="fa-regular fa-arrow-right"></i></a>
										</div>
										<div class="content-right">
											<div class="project-thumb">
												<img src="/assets/img/project/project-1.png" alt="Imagen del proyecto de diseño y desarrollo de aplicación">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item project-item fade-top">
							<h2 class="accordion-header" id="headingFour">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<span class="project-content">
										<span class="number">04</span>
										<span class="project-right">
											<span class="category">Desarrollo de Software</span>
											<span class="title">Desarrollo de Sitio Web Médico</span>
										</span>
									</span>
								</button>
							</h2>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#projectAccordion">
								<div class="accordion-body">
									<div class="hover-content">
										<div class="content-left">
											<p>Innovatech Solutions desarrolló un sitio web médico seguro y escalable usando Node.js, con un enfoque en UX para facilitar el acceso a información crítica para pacientes y profesionales.</p>
											<a  class="rr-primary-btn">Ver Detalles<i class="fa-regular fa-arrow-right"></i></a>
										</div>
										<div class="content-right">
											<div class="project-thumb">
												<img src="/assets/img/project/project-1.png" alt="Imagen del proyecto de sitio web médico">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ./ project-section -->
		
		<div class="running-text running-1">
			<div class="carouselTicker carouselTicker-nav" data-speed="fast">
				<ul class="text-anim carouselTicker__list">
					<li>Solución Digital</li>
					<li>Desarrollo</li>
					<li>Estrategia</li>
					<li>Diseño UI/UX</li>
					<li>Soluciones Móviles</li>
					<li>Branding</li>
					<li>Innovación</li>
					<li>Estrategia</li>
					<li>Experiencia de Usuario</li>
					<li>Soluciones Móviles</li>
					<li>Diseño UI/UX</li>
					<li>Innovación</li>
					<li>Experiencia de Usuario</li>
					<li>Branding</li>
					<li>Solución Digital</li>
				</ul>
			</div>
		</div>
		<!-- ./ running-text -->
		
		<div class="running-text">
			<div class="carouselTicker carouselTicker-start" data-speed="fast">
				<ul class="text-anim carouselTicker__list">
					<li>Solución Digital</li>
					<li>Desarrollo</li>
					<li>Estrategia</li>
					<li>Diseño UI/UX</li>
					<li>Soluciones Móviles</li>
					<li>Branding</li>
					<li>Innovación</li>
					<li>Estrategia</li>
					<li>Experiencia de Usuario</li>
					<li>Soluciones Móviles</li>
					<li>Diseño UI/UX</li>
					<li>Innovación</li>
					<li>Experiencia de Usuario</li>
					<li>Branding</li>
					<li>Solución Digital</li>
				</ul>
			</div>
		</div>
		<!-- ./ running-text -->
		
		<section class="blog-section pt-130 pb-130 fade-wrapper">
			<div class="container">
				<div class="section-heading text-center">
					<h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">NOTICIAS Y ÚLTIMAS ACTUALIZACIONES</h4>
					<h2 class="section-title" data-text-animation data-split="word" data-duration="1">Descubre las Historias Internas de Nuestra Empresa</h2>
				</div>
				<div class="post-wrap">
					<div class="post-card-wrap fade-top">
						<div class="post-card">
							<div class="post-thumb">
								<img src="/assets/img/blog/post-1.jpg" alt="Publicación sobre estrategias de UX">
							</div>
							<div class="post-content-wrap">
								<div class="post-content">
									<ul class="post-meta">
										<li><i class="fa-sharp fa-regular fa-clock"></i>10 Febrero, 2025</li>
										<li><i class="fa-light fa-user"></i>Publicado por: Admin</li>
									</ul>
									<h3 class="title"><a >Estrategias de Experiencia de Usuario (UX) que Impulsarán el Futuro de tu Negocio</a></h3>
									<a  class="rr-primary-btn blog-btn">Leer Más <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="post-card-wrap fade-top">
						<div class="post-card">
							<div class="post-thumb">
								<img src="/assets/img/blog/post-2.jpg" alt="Publicación sobre desarrollo móvil">
							</div>
							<div class="post-content-wrap">
								<div class="post-content">
									<ul class="post-meta">
										<li><i class="fa-sharp fa-regular fa-clock"></i>15 Febrero, 2025</li>
										<li><i class="fa-light fa-user"></i>Publicado por: Admin</li>
									</ul>
									<h3 class="title"><a >Cómo Innovatech Solutions Está Revolucionando el Desarrollo de Aplicaciones Móviles</a></h3>
									<a  class="rr-primary-btn blog-btn">Leer Más <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="post-card-wrap fade-top">
						<div class="post-card">
							<div class="post-thumb">
								<img src="/assets/img/blog/post-3.jpg" alt="Publicación sobre diseño digital">
							</div>
							<div class="post-content-wrap">
								<div class="post-content">
									<ul class="post-meta">
										<li><i class="fa-sharp fa-regular fa-clock"></i>20 Febrero, 2025</li>
										<li><i class="fa-light fa-user"></i>Publicado por: Admin</li>
									</ul>
									<h3 class="title"><a >El Impacto del Diseño Digital en el Éxito de tu Empresa: Consejos de Innovatech Solutions</a></h3>
									<a  class="rr-primary-btn blog-btn">Leer Más <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ./ blog-section -->
		
		<Footer></Footer>
		<!-- ./ footer-section -->
		
		</div>
	</div>

</Layout>
