---
import PageHeader from "../components/servicios/page-header.astro";
import ServiceCta from "../components/servicios/service-cta.astro";
import ServiceSection from "../components/servicios/service-section.astro";
import Footer from "../components/shared/footer.astro";
import HeaderTwo from "../components/shared/headerTwo.astro";
import Preloader from "../components/shared/preloader.astro";
import SidebarArea from "../components/shared/sidebar-area.astro";
import Layout from "../layouts/Layout.astro";
import PricingSection from "../components/servicios/pricing-section.astro";
---

<Layout title="Servicios">

<!-- header-area-start -->
<HeaderTwo></HeaderOne>
    <!-- /.Main Header -->

    <div id="popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
            </form>
            <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
        </div>
    </div>
    <!-- /#popup-search-box -->

    <SidebarArea></SidebarArea>
    <!--/.sidebar-area-->

    <Preloader></Preloader>
    <!-- ./ preloader -->

    <div id="smooth-wrapper">
        <div id="smooth-content">

        <PageHeader></PageHeader>
        <!-- ./ page-header -->

        <ServiceSection></ServiceSection>
        <!-- ./ service-section -->

        <ServiceCta></ServiceCta>
        <!-- ./ service-cta -->

        <PricingSection></PricingSection>
        <!-- ./ pricing-section -->

        <Footer></Footer>
        <!-- ./ footer-section -->

        </div>
    </div>    

</Layout>