<section class="blog-section-3 pt-130 pb-130">
    <div class="container">
        <div class="section-heading text-center">
            <h4 class="sub-heading">NEWS & LATEST UPDATES</h4>
            <h2 class="section-title">Check Our Company Inside Story</h2>
        </div>
        <div class="row gy-lg-0 gy-5 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="post-card-2 card-3">
                    <div class="post-thumb">
                        <img src="/assets/img/blog/post-6.png" alt="post">
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>25 June, 2024</li>
                                <li><i class="fa-light fa-user"></i>Post by: Admin</li>
                            </ul>
                            <h3 class="title"><a >Redefining User Experience with Our Web Design Agency...</a></h3>
                            <a  class="rr-primary-btn">Read More <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="post-card-2 card-3">
                    <div class="post-thumb">
                        <img src="/assets/img/blog/post-7.png" alt="post">
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>25 June, 2024</li>
                                <li><i class="fa-light fa-user"></i>Post by: Admin</li>
                            </ul>
                            <h3 class="title"><a >Why Prioritizes User Experience in Every Web Design Project</a></h3>
                            <a  class="rr-primary-btn">Read More <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="post-card-2 card-3">
                    <div class="post-thumb">
                        <img src="/assets/img/blog/post-8.png" alt="post">
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>25 June, 2024</li>
                                <li><i class="fa-light fa-user"></i>Post by: Admin</li>
                            </ul>
                            <h3 class="title"><a >Demystifying the Wizardry of Our Web Design Agency</a></h3>
                            <a  class="rr-primary-btn">Read More <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>