<section class="contact-section pt-130 pb-130">
    <div class="container">
        <div class="row gy-lg-0 gy-5">
            <div class="col-lg-5 col-md-12">
                <div class="contact-content">
                    <div class="section-heading">
                        <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">Contáctanos</h4>
                        <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Trabajemos juntos</h2>
                        <p>Gracias por tu interés en PEVITE. Estamos emocionados de escucharte y discutir cómo podemos transformar tus ideas en soluciones tecnológicas innovadoras...</p>
                    </div>
                    <div class="contact-list">
                        <div class="list-item">
                            <div class="icon">
                                <i class="fa-light fa-location-dot"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Nuestra Dirección</h4>
                                <p>Maracay, Edo. Aragua, Venezuela</p>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="icon">
                                <i class="fa-light fa-phone"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Número de Teléfono</h4>
                                <span><a href="tel:584120936057">+58 412-0936057</a></span> 
                                <span><a href="tel:+584123584174">+58 412-3584174</a></span> 
                                <span><a href="mailto:contacto@pevite.com.ve">contacto@pevite.com.ve</a></span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="icon">
                                <i class="fa-light fa-clock"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Horario de Atención</h4>
                                <span>Lunes - Viernes: 7:00 a.m - 6:30 p.m</span>
                                <span>Sábado & Domingo: Cerrado</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="blog-contact-form form-2">
                    <div class="request-form">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-item">
                                        <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Su nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-item">
                                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Apellido">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-item">
                                        <input type="text" id="email" name="email" class="form-control" placeholder="Dirección de correo electrónico">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-item">
                                        <input type="text" id="phone" name="phone" class="form-control" placeholder="Número de teléfono">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-item">
                                        <div class="nice-select select-control form-control country" tabindex="0"><span class="current">Seleccionar tema de consulta</span><ul class="list"><li data-value="" class="option selected focus">Select Queary Topic</li><li data-value="vdt" class="option">Plan One</li><li data-value="can" class="option">Plan Two</li><li data-value="uk" class="option">Plan Three</li></ul></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-item message-item">
                                        <textarea id="message" name="message" cols="30" rows="5" class="form-control address" placeholder="Mensaje"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-btn">
                                <input id="submit" class="rr-primary-btn" value="Enviar mensaje" type="button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>