---
import Footer from "../../components/shared/footer.astro";
import HeaderTwo from "../../components/shared/headerTwo.astro";
import Preloader from "../../components/shared/preloader.astro";
import SidebarArea from "../../components/shared/sidebar-area.astro";
import PageHeader from "../../components/tienda/page-header.astro";
import Layout from "../../layouts/Layout.astro";
import ShopSection from "../../components/tienda/shop-section.astro"
---

<Layout title="Tienda | Productos">
        <!-- header-area-start -->
        <HeaderTwo></HeaderTwo>
        <!-- /.Main Header -->

        <div id="popup-search-box">
            <div class="box-inner-wrap d-flex align-items-center">
                <form id="form" action="#" method="get" role="search">
                    <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
                </form>
                <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
            </div>
        </div>
        <!-- /#popup-search-box -->

        <SidebarArea></SidebarArea>
        <!--/.sidebar-area-->

        <Preloader></Preloader>
        <!-- ./ preloader -->

    <div id="smooth-wrapper">
        <div id="smooth-content">

        <PageHeader></PageHeader>
        <!-- ./ page-header -->

        <ShopSection></ShopSection>
        <!-- ./ shop-section -->

        <Footer></Footer>
        <!-- ./ footer-section -->

        </div>
    </div>    
</Layout>