<section class="about-section pb-130">
    <div class="round-shape"><img src="/assets/img/shapes/round-shape.png" alt="forma"></div>
    <div class="about-wrap">
        <div class="shape"><img src="/assets/img/shapes/about-dot-shape.png" alt="forma"></div>
        <div class="row about-wrapper align-items-center">
            <div class="col-lg-7">
                <div class="about-content fade-wrapper">
                    <div class="section-heading mb-0">
                        <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Acerca de Pevite</h4>
                        <h2 class="section-title overflow-hidden" data-text-animation data-split="word" data-duration="1">Ofrecemos las mejores soluciones tecnol贸gicas para la industria</h2>
                        <p class="fade-top">En Pevite, nos especializamos en desarrollo de software, aplicaciones web, soluciones IoT, automatizaci贸n industrial y fabricaci贸n de hardware, ayudando a las empresas a optimizar sus procesos y adoptar la transformaci贸n digital.</p>
                        <div class="about-btn fade-top">
                            <a  class="rr-primary-btn">Comienza Ahora<i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img-wrap">
                    <div class="img-shape"></div>
                    <div class="about-img reveal">
                        <img class="img-1" src="/assets/img/images/about-img.jpg" alt="imagen">
                    </div>
                    <div class="about-img-2 reveal">
                        <img class="img-2" src="/assets/img/images/about-img-1.jpg" alt="imagen">
                    </div>
                </div>
            </div>
        </div>
        <div class="about-text">
            <p></p>
            <!-- <img class="dark-img" src="/assets/img/images/about-text.png" alt="acerca"> -->
            <!-- <img class="light-img" src="/assets/img/images/about-text-light.png" alt="acerca"> -->
        </div>
    </div>
</section>
           