<section class="hero-section">
    <div class="hero-bg-shape"><img src="/assets/img/bg-img/hero-bg-shape.png" alt="shape"></div>
    <div class="hero-shape"><img src="/assets/img/shapes/hero-shape-1.png" alt="shape"></div>
    <div class="hero-images">
        <img src="/assets/img/images/hero-img2.jpg" alt="hero">
        <img src="/assets/img/images/hero-img4.jpg" alt="hero">
        <img src="/assets/img/images/hero-img3.jpg" alt="hero">
        
    </div>
    <div class="hero-img"><img src="/assets/img/images/hero-img1.jpg" alt="hero"></div>
    <div class="container">
        <div class="hero-content">
            <h4 class="sub-title anim-text">Bienvenidos a</h4>
            <h2 class="title anim-text">PEVITE</h2>
            <h3 class="bottom-title anim-text">-</h3>
            <a class="hero-btn"><i class="fa-thin fa-arrow-right"></i></a>
        </div>
    </div>
</section>